@tailwind base;
@tailwind components;
@tailwind utilities;

:root {

  --background: #000000;
  --foreground: #ffffff;
}

body {
  background: black;
  color: white;
  /* This creates that subtle "Deep Space" gradient */
  background-image: radial-gradient(circle at 50% -20%, #1a1033 0%, #000 80%);
  min-height: 100vh;
}